.form-header{
    background-color:darkblue;
    color:white;
}
.container{
    padding:20px;
}
.clock{
    background-color: grey;
    padding-bottom:5px;
    margin-bottom:5px;
}
.schedule{
    background-color:darkblue;
    color: white;
}
.trainInfo tr:nth-child(even){
    background-color:lightgrey;
}